{% load php %}
<!doctype html> <html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Petition Test</title>
    {% load staticfiles %}
    <!-- link rel="stylesheet" type="text/css" href="{% static 'temp/style.css' %}" / -->
    <style>
       body {background-color:lightgray}
       h1 {color:blue}
       p  {color:green}
    </style>
  </head>

  <script>
  </script>

  <body>
    {% startphp %}
      //Function Defs
      //=====================
      function getPetitionId(&$api_key, &$petition_url) {
        $REQUEST_URL = 'https://api.change.org/v1/petitions/get_id';
        $parameters = array( 'api_key' => $api_key, 'petition_url' => $petition_url );
        $query_string = http_build_query($parameters);
        $final_request_url = "$REQUEST_URL?$query_string";
        $response = file_get_contents($final_request_url);
        $json_response = json_decode($response, true);
        return $json_response['petition_id'];
        }

      function getAuthKey(&$parameters, &$petition_id, &$secret_token) {
        //get an Authentication Key
        $host = 'https://api.change.org';
        $endpoint = "/v1/petitions/$petition_id/auth_keys";
        $request_url = $host . $endpoint;

        //fill in additional params
        $parameters['timestamp'] = gmdate("Y-m-d\TH:i:s\Z"); // ISO-8601-formtted timestamp at UTC
		$parameters['endpoint'] = $endpoint;

        $query_string_with_secret_and_auth_key =  http_build_query($parameters) . $secret_token;
        $parameters['rsig'] = hash('sha256', $query_string_with_secret_and_auth_key);

        $query = http_build_query($parameters);

        $curl_session = curl_init();
        curl_setopt_array($curl_session, array( 
          CURLOPT_POST => 1, 
          CURLOPT_URL => $request_url, 
          CURLOPT_POSTFIELDS => $query, 
          CURLOPT_RETURNTRANSFER => true
        ));

        $result = curl_exec($curl_session);
        $result = curl_exec($curl_session);
        $json_response = json_decode($result, true);

        return $json_response;
      }

	 function signPetition(&$parameters, &$petition_url, &$petition_id, &$secret_token, &$auth_key) {
        //setup url for POST
        $base_url = "https://api.change.org";
        $endpoint = "/v1/petitions/$petition_id/signatures";
        $url = $base_url . $endpoint;

        //fill in additional params
        $parameters['source'] = $petition_url;
        $parameters['endpoint'] = $endpoint;
        $parameters['timestamp'] = gmdate("Y-m-d\TH:i:s\Z"); // ISO-8601-formtted timestamp at UTC

        // Build request signature.
        $query_string_with_secret_and_auth_key = http_build_query($parameters) . $secret_token . $auth_key;

        // Add the request signature to the parameters array.
        $parameters['rsig'] = hash('sha256', $query_string_with_secret_and_auth_key);

        // Create the request body
        $data = http_build_query($parameters);

        // POST the parameters to the petition's signatures endpoint.
        $curl_session = curl_init();
        curl_setopt_array($curl_session, array(
          CURLOPT_POST => 1,
          CURLOPT_URL => $url,
          CURLOPT_POSTFIELDS => $data
         ));

        return curl_exec($curl_session);
      }
      
      //Runtime Code here
      //=====================
      //these will need to move to the server (https://github.com/vbuck/change-js-api/blob/master/documentation/client-security.md)
      $API_KEY = 'xxxxxxxxxxxxxxxxxxxxxxxxxxx';
      $SECRET_TOKEN = yyyyyyyyyyyyyyyyyyyyyyy';
      $REQUEST_URL = 'http://xyz.com'; 
      $PETITION_URL = 'http://xyz.com''; 
      
      //get petition ID
      $petition_id = getPetitionId($API_KEY, $PETITION_URL);

      //fill in additional params for auth_key retrieval
      $params = array();
      $params['api_key'] = $API_KEY;
      $params['source_description'] = 'Test Descript';// mandatory
      $params['source'] = $PETITION_URL;
      $params['requester_email'] = 'atsnipes@gmail.com';

      //get JSON response back for auth_key
      $response =  getAuthKey($params, $petition_id, $SECRET_TOKEN);
      //echo $response['result'] . ' ' . $response['auth_key'] . ' ';

      //create new array for params for petition signing
      $params2 = array();
      $params2['email'] = 'asd2afsdaf@gmail.com';
      $params2['first_name'] = 'Guy7';
      $params2['last_name'] = 'Persons7';
      $params2['address'] = '55en';
      $params2['city'] = 'Austin';
      $params2['state_province'] = 'TX';
      $params2['postal_code'] = '78751';
      $params2['country_code'] = 'US';
      $params2['api_key'] = $API_KEY;

      echo signPetition($params2, $PETITION_URL, $petition_id, $SECRET_TOKEN, $response['auth_key']);

      {% endphp %}

  </body>
